<% content_for :title, @params ? "Results for #{@params}" : "Search" %>

<%= javascript_pack_tag 'search', 'data-turbolinks-track': 'reload' %>
<body onload="textEntered();">
<div class="row">
  <div class="col-lg-6 col-md-9 col-12 mx-auto">

    <%= render('partials/search_bar', :locals => {:path => search_path}) %>

    <div class="row">
      <div id="results" class="col">
        <%if @full_render.present? %>
          <%= render('partials/search_results', :locals => {:exact_results => @exact_results, :more_results => @more_results}) %>
        <%end %>
      </div>
    </div>
  </div>
</div>
</body>
