<button class="iconbutton">
    <span class="dot d-flex flex-column justify-content-center align-items-center">
        <i class="fas <%= locals[:icon_class] %>"></i>
    </span>
    <%= locals[:text] %>
</button>