<button id="<%= locals[:id] %>" class="iconbutton <%= locals[:margin] %>">
    <span class="dot d-flex flex-column justify-content-center align-items-center">
        <i class="fas <%= locals[:icon_class] %>"></i>
    </span>
    <%= locals[:text] %>
</button>