<div id="map-navigation-popup" class="map-popup card shadow-sm p-2" style="display: none">
  <div class="card-body">
    <div class="card-heading d-flex flex-row">
        <div id="routing-controller">
          <div id="mobile-view-welcome-routing-text">Choose endpoint on map to start routing :)</div>
        </div>
        <span class=" d-flex flex-column justify-content-start align-items-center" title="close">
            <button
            class="btn bg-transparent fw-bold"
            onclick="document.getElementById('map-navigation-popup').style.display = 'none'"
            >🗙
            </button>
        </span>
    </div>
  </div>
</div>
