<div>
  <div class="row align-items-end mb-3">
    <div class="col">
      <div class="form-group">
        <input class="form-control" autofocus="autofocus" id="search" placeholder="Ask me something ..." onfocus="toggleCenterClass(true)" onfocusout="toggleCenterClass(false)" oninput="textEntered(this)" onsubmit="sendRequest(this)" type="text" name="query" value="<%= @query %>">
      </div>
    </div>
  </div>
  <%= button_tag "\u2715".encode('utf-8'), class: "cancel-input", id: "cancel", onclick: "clearText(this)" %>
</div>