<% # show clear button on entered text %>
<script type="text/javascript" charset="utf-8">
    function textEntered(field) {
        if (!field) {
            field = document.getElementById("search");
        }
        const btn = document.getElementById("cancel");
        if (field.value === "") {
            btn.style.visibility = "hidden";
        } else {
            btn.style.visibility = "visible";
        }
    }
</script>
<div onload="textEntered();">
    <%= form_with url: locals[:path], method: :get do |form| %>
        <div class="row align-items-end mb-3">
          <div class="col">
            <div class="form-group">
              <%= form.text_field :query, class: "form-control", autofocus: true, value: @params, id: "search", oninput: "textEntered(this)" %>
            </div>
          </div>
        </div>
      <% end %>
      <%= button_to "\u2715".encode('utf-8'), { action: "index" }, class: "cancel-input", id: "cancel", method: :get %>
</div>