<div>
    <%= form_with url: locals[:path], remote: true, method: :get, id: "search-form" do |form| %>
        <div class="row align-items-end mb-3">
          <div class="col">
            <div class="form-group">
              <%= form.text_field :query, class: "form-control", autofocus: true, value: @params, id: "search", oninput: "textEntered(this)", onSubmit: "test" %>
            </div>
          </div>
        </div>
      <% end %>
    <%= button_tag "\u2715".encode('utf-8'), class: "cancel-input", id: "cancel", onclick: "clearText()" %>
</div>