<div>
    <%= form_with url: locals[:path], method: :get do |form| %>
        <div class="row align-items-end mb-3">
          <div class="col">
            <div class="form-group">
              <%= form.text_field :query, class: "form-control", autofocus: true, value: @params, 
                id: "search", oninput: "textEntered(this)", onfocus: "toggleCenterClass(true)", onfocusout: "toggleCenterClass(false)", placeholder: "Ask me something ..." %>
            </div>
          </div>
        </div>
      <% end %>
      <%= button_to "\u2715".encode('utf-8'), { action: "index" }, class: "cancel-input", id: "cancel", method: :get %>
</div>