<div class="list-group" id="exact-results">
  <span class="suggestions fst-italic text-muted">"Room for working"</span>
  <span class="suggestions fst-italic text-muted">"Where are lecture halls?"</span>
  <span class="suggestions fst-italic text-muted">"Show me toilets!"</span>
</div>