<div>
    <div class="d-flex flex-row mb-4">
        <% if locals[:person] != nil && locals[:person].image.present? %>
            <%= image_tag (locals[:person].image), class: "img-responsive my-2 mx-3 justify-content-center align-self-center picture-rounded", :size => "60x60"%>
        <% end %>
        <% if locals[:person] == nil || !locals[:person].image.present? %>
            <i class="fas fa-user my-2 mx-4 justify-content-center align-self-center" ></i>
        <% end %>
        <div class="d-flex flex-column justify-content-center">
            <div class="fw-bold">
                <%= "#{locals[:user].username}" if locals[:user].username.present? %>
            </div>
            <div>Signed in <%= "as Admin" if locals[:user].isAdmin? %><%= " but no person associated" if locals[:person] == nil %></div>
        </div>
    </div>
    <div class="bg-dark" style="height: 1px; width: 100%"></div>
	<div class="my-2">
		Log out
	</div>
	<div class="bg-dark" style="height: 1px; width: 100%"></div>
	<div class="my-2">
		Edit Personal Information
	</div>
	<% if locals[:user].isAdmin? %>
		<div class="bg-dark" style="height: 1px; width: 100%"></div>
		<div  class="my-2">
			Show data tables
		</div>
		<div class="bg-dark" style="height: 1px; width: 100%"></div>
		<div  class="my-2">
			Data Management
		</div>
		<div class="bg-dark" style="height: 1px; width: 100%"></div>
	<% end %>
	<% unless locals[:user].isAdmin? %>
		<div class="bg-dark" style="height: 1px; width: 100%"></div>
		<div  class="my-2">
			Contribute - Solve Data Problems
		</div>
		<div class="bg-dark" style="height: 1px; width: 100%"></div>
		<div  class="my-2">
			Report a Problem
		</div>
		<div class="bg-dark" style="height: 1px; width: 100%"></div>
	<% end %>
</div>