<head>
  	<title>HPI Map</title>
  	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
</head>

<div class="row">
  	<div id="map" style="width: 100%; height: 600px;"></div>
	<%= javascript_include_tag 'CampusGeometry/HPIGeometry' %>
	<%= javascript_include_tag 'CampusGeometry/UniPotsdamGeometry' %>
  	<script>
	  	var mymap = L.map('map').setView([52.39300, 13.12900], 17);

	  	L.tileLayer('https://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey=e6b144cfc47a48fd928dad578eb026a6', {
		  	maxZoom: 22, //22 is the maximum for the thunderforest tiles
		  	attribution: 'Schnavigator'
	  	}).addTo(mymap);

		var UniPotsdamStyle = {
				"fillColor": "Blue",
				"fillOpacity": 0.65,
				"color": "Blue",
				"opacity": 0.3
  			};

		var HPIStyle = {
				"fillColor": "Orange",
				"fillOpacity": 0.65,
				"color": "Orange",
				"opacity": 0.3
  			};

    	L.geoJSON(HPICampusI, {style: HPIStyle}).addTo(mymap);
		L.geoJSON(uniPotsdamGriebnitzseeHaus1, {style: UniPotsdamStyle}).addTo(mymap);
		L.geoJSON(uniPotsdamGriebnitzseeHaus7, {style: UniPotsdamStyle}).addTo(mymap);
  </script>
</div>