<!DOCTYPE html>
<html lang="English">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @person.name %>,</h1>

<p>
  there have been problems with your personal data, namely:<ul>
  <%@problems.each do |problem| %>
  <li><%= problem.description %></li>
  <% end %>
</ul>
</p>
<p>
  To fix the problems, just follow this link: <%= @url %>.
</p>
<p>Thanks for your time and have a great day!
  Your Compass-Red team.</p>
</body>
</html>