.room-popup {
  width: 90%;
  position: fixed !important;
  bottom: 2rem;
  left: 5%;
  z-index: 9999;
}

@media only screen and (max-width: 400px) {
  .room-popup {
    bottom: 5rem;

    .iconbuttons {
      justify-content: space-between !important;
    }
  }
}
