$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$lightgray: #f4f4f4;
$mediumgray: #c4c4c4;

// See 'Auszug aus dem HPI Corporate Design Manual'
// tints / shades generator: https://maketintsandshades.com/#b0063a,e2681e,f9a61b,007a9e
$hpi-orange: #e2681e;
$hpi-red: #b0063a;
$hpi-red-tint: #df9bb0; // 60% tint
$hpi-red-shade: #58031d; // 50% shade
$hpi-yellow: #f9a61b;
$hpi-blue: #007a9e;
