$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$lightgray: #F4F4F4;
$mediumgray: #C4C4C4;
$btn-gray: #f5f3f3;

// See 'Auszug aus dem HPI Corporate Design Manual'
// tints / shades generator: https://maketintsandshades.com/#b0063a,e2681e,f9a61b,007a9e
$hpi-orange: #e2681e;
$hpi-red: #b0063a;
$hpi-red-tint: #df9bb0; // 60% tint
$hpi-red-shade: #58031d; // 50% shade
$hpi-yellow: #f9a61b;
$hpi-blue: #007a9e;
