$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$lightgray: #F4F4F4;

// See 'Auszug aus dem HPI Corporate Design Manual'
$hpi-orange: #e2681e;
$hpi-red: #b0063a;
$hpi-yellow: #f9a61b;
$hpi-blue: #007a9e;
