@import "colors";

.form-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.highlighted {
  background-color: $hpi-red-tint !important;
}

.rounded-circle {
  height:100px;
  width:100px;
  background-color: #ccc
  
}
