// Place all the styles related to the indoor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.walls {
  stroke: rgb(255, 0, 0);
  stroke-width: 4;
}

.outer-shape {
  fill: none;
  stroke: black;
  stroke-width: 4;
}

.points-of-interest {
  stroke: red;
  stroke-width: 4;
  fill: yellow;
}
