@import "values";

.leaflet-tooltip.marker_label {
  border-radius: 20px;
  background-color: transparent;
  font-weight: bold;
  border: None;
  color: black;
  box-shadow: None;
  font-family: Roboto, "Open Sans", sans-serif;
}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none !important;
}
.hpi-map {
    width: 100%;
    height: 100%;
}
.search-container {
  position: absolute;
  padding: 10px;
  width: 100vw;
  z-index: 999;
}
#welcome-routing-text {
  background-color: white;
  text-align: center;
}
@media only screen and (max-width: 640px) {
    .hpi-map {
        width: 100%;
        height: 80%;
    }
    .leaflet-routing-container {
        width: 100% !important;
        height: 100% !important;        
    }
    .leaflet-routing-collapse-btn {
        display: none !important;
    }
    div.leaflet-top.leaflet-left, div.leaflet-top.leaflet-right {
      margin-top: 50px;
    }
    .routing-stop-button {
      width: 100%;
    }
    #StopNavigation {
      width: 100% !important;
    }
    .leaflet-routing-geocoders {
      display: none !important;
    }
    table {
      display: none !important;
    }
}

.leaflet {
  height: calc(100% - #{$navbar-height});
}

@media only screen and (max-width: 400px) {
  .leaflet {
    height: calc(100% - #{$navbar-height} - #{$titlebar-height});
  }
}
