@import "colors";

.image-field-wrapper {
  .image-preview {
    position: relative;
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    border: 4px solid $hpi-red;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .image-edit-btn {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparentize($hpi-red, 0.4);
      border: none;
      opacity: 0;
      transition: 0.2s ease-in-out opacity;
    }

    &:focus-within {
      outline: 2px dashed #2e2f30;
    }

    &:focus-within,
    &:hover {
      .image-edit-btn {
        opacity: 1;
      }
    }
  }

  .image-field {
    position: absolute;
    left: -999px;
    visibility: hidden;
  }
}
