// Place all the styles related to the search controller here.

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

@import "colors";
@import "values";

@media only screen and (min-width: 400px) {
  .search-item {
    margin-bottom: 0.5rem;
    border-radius: 1rem !important;

    .col-2,
    .col {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 400px) {
  .search-item {
    background-color: transparent !important;

    .search-title {
      margin-bottom: 0.1rem !important;
    }

    .col-2,
    .col {
      justify-content: start;
    }

    .col-2 {
      padding: 0 !important;
    }
  }
}

.search-item {
  border: none !important;

  &-icon {
    @extend %fa-icon;
    @extend .fas;
    width: 1.25em;
    text-align: center;
    padding-right: 2px;
    color: $gray;

    &.--person {
      &:before {
        content: fa-content($fa-var-user);
      }
    }

    &.--room {
      &:before {
        content: fa-content($fa-var-door-open);
      }
    }

    &.--chair {
      &:before {
        content: fa-content($fa-var-users);
      }
    }
  }
}

.form-control {
  border-radius: 20px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.cancel-input {
  background: #f4f4f4;
  color: #444444;
  border: 0;
  border-radius: 20px;
  position: relative;
  top: -3rem;
  float: right;
  margin-right: 5px;
  visibility: hidden;
}

/* This is to center the searchbar vertically */
.searchpage {
  height: calc(100% - #{$navbar-height});
}

@media only screen and (max-width: 400px) {
  .searchpage {
    height: calc(100% - #{$navbar-height} - #{$titlebar-height});
  }
}

@media only screen and (max-width: 400px) {
  .container.mt-5.mb-5 {
    margin-top: 1.5rem !important;
  }
}
