// Place all the styles related to the search controller here.

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import "colors";

.search-item {
  border: none !important;
}

@media only screen and (min-width: 400px) {
  .search-item {
    margin-bottom: 0.5rem;
    border-radius: 1rem !important;

    .col-2, .col {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 400px) {
  .search-item {
    background-color: transparent !important;

    .search-title {
      margin-bottom: 0.1rem !important;
    }

    .col-2, .col {
      justify-content: start;
    }
  
    .col-2 {
      padding: 0 !important;
    }
  }
}


.search-item {
  &-icon {
    @extend %fa-icon;
    @extend .fas;
    width: 1.25em;
    text-align:center;
    padding-right: 2px;
    color: $gray;

    &.--person {
      &:before {
        content: fa-content($fa-var-user);
      }
    }

    &.--room{
      &:before {
        content: fa-content($fa-var-door-open);
      }
    }

    &.--chair{
      &:before {
        content: fa-content($fa-var-users);
      }
    }
  }
}
