<!DOCTYPE html>
<html>
  <head>
  	<title>HPI Map</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

	<%= stylesheet_link_tag 'map' %>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.0/dist/L.Control.Locate.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
	
    <script src="https://unpkg.com/leaflet.icon.glyph@0.2.0/Leaflet.Icon.Glyph.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
	<%= javascript_include_tag 'OutdoorMap/geometry' %>
  </head>

  <body>
  	<div class="leaflet">
  		<div id="map" style="width: 100%; height: 600px;"></div>
		<%= javascript_include_tag 'OutdoorMap/router' %>
		<%= javascript_include_tag 'OutdoorMap/map_build' %>
	</div>
  </body>
</html>