<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <span class="navbar-brand"><i class="fas fa-compass"></i> HPI Compass Portal</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <%= link_to protected_path, class: 'nav-link' do %>
            <i class="fas fa-lock"></i> Protected page
          <% end %>
        </li>
        <%# devise helper: https://github.com/heartcombo/devise#controller-filters-and-helpers %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: 'nav-link' do %>
              <i class="fas fa-user"></i> <%= current_user.username.blank? ? 'User profile' : current_user.username %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: 'nav-link', method: :delete do %>
              <i class="fas fa-sign-out-alt"></i> Sign out
            <% end %>
          </li>
        <% end %> <%# user_signed_in?%>
        <li class="nav-item">
          <a class="nav-link" href="https://getbootstrap.com/docs/5.0/components/navbar/" target="_blank">
            <i class="fab fa-bootstrap"></i> Bootstrap
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://fontawesome.com/v5.15/icons" target="_blank">
            <i class="fab fa-fonticons-fi"></i> FontAwesome Icons
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
