<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-compass"></i> HPI Compass Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <%= link_to edit_user_registration_path, class: 'nav-link' do %>
            <i class="fas fa-user"></i> <%= current_user.email %>
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fab fa-bootstrap"></i> Bootstrap documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://getbootstrap.com/docs/5.0/components/navbar/"><i class="fab fa-bootstrap"></i> Bootstrap documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://fontawesome.com/v5.15/icons"><i class="fab fa-fonticons-fi"></i> FontAwesome Icons</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
